<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="nav-bar">
    <img src="/images/logo.png">
    <div class="links">
        <a href="/workouts" id="upcoming" <%- title === 'Upcoming Workouts' ? 'class="active"' : '' %>>UPCOMING WORKOUTS</a> 
        <a href="/workouts/new" id="new" <%- title === 'New Workout' ? 'class="active"' : '' %>>+ NEW WORKOUT</a> 
    </div>
    </nav>