<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <img src="/images/logo.png" class="logo">
      <h1>  <div class="gym">GYM</div><div class="dolphin">DOLPHIN</div> </h1>
    </nav>