<%- include('../partials/header2') %>

    <h1> Add New Exercise </h1>
    <form action="/workouts/<%=workout.id%>/exercises" method="POST" class="form">
      <div class="insert-page">
        Exercise Name: <input type="text" name="name">
      </div>
      <div class="insert-page">
        # of Sets: <input type="number" name="sets" min="1">
      </div>
      <div class="insert-page">
        # of Reps: <input type="number" name="reps" min="1">
      </div>
        Notes: 
        <textarea name="note" id="note"></textarea>
        <br>
      <div class="update-button">
        <input type="submit" value="Add" id="update-button">
      </div>
    </form>
  </body>
</html>