<%- include('../partials/header') %>


    <h1> Add New Workout </h1>
    <form action="/workouts" method="POST" class="form">
      <div class="insert-page">
        Workout Name: <input type="text" name="title" class="input-workout">
      </div>
      <div class="insert-page">
        Date: <input required type="date" name="date" class="input-workout">
      </div> <br>
      <div class="update-button">
        <input type="submit">
      </div>
      </div>
    </form>
  </body>
</html>
