<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <img src="/images/logo.png">
      <h1>  <div class="gym">GYM</div><div class="dolphin">DOLPHIN</div> </h1>
    </nav>
      <div class="landing">Welcome to GymDolphin <br> <br> A quick and easy way to schedule your workouts <br> Click below to get started! </div>
      <a href="/workouts" class="start-button">GO TO WORKOUTS</a>
  </body>
</html>
