<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> show workout page </h1>
    <br>
    <div><%= workout.date %></div>
  </body>
</html>
